.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  align-items: center;
  width: 720px;
  height: 720px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.piece {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.next-move-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.previous-move-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-color: black;
}

.next-move-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-color: black;
}